<p>Inscriptions préalables avec tarif préferentiel de 8€ pour les adultes et 6€ pour les moins de 15 ans concernant les parcours découverte, familiale et sportif et de 3€ pour la randonnée pédestre.
</p>
<p>

Vous pouvez {{#link-to "registrations.new"}}vous inscrire en ligne{{/link-to}} ou remplir votre bulletin d'inscription directement:
<ul>
<li>A la boutique Clarendon Prêt à Porter, 2 rue St Michel à Valdahon</li>
<li>Au Super U Valdahon, le 05 Juillet de 10h à 12h</li>
</ul>
<div class="alert alert-danger">Il est noté qu'aucun remboursement ne pourra être effectué sur inscription préalable même en cas d'annulation de l'épreuve.</div>
</p>

<p>Inscriptions sur place à  partir de 08h00 avec tarif de 11€ pour les adultes et 9€ pour les moins de 15 ans concernant les parcours découverte, familiale et sportif. Pour la randonnée pédestre le tarif reste inchangé (3€).
</p>
