<p>Ici je m'inscris en ligne</p>

<h1>Formulaire</h1>

<p>
Pour confirmer votre inscription, merci de nous retourner le formulaire d'inscription et le renvoyer accompagné du rêglement (ordre des chèques: AS Avoudrey) à l'adresse suivante:
</p>

<p>QUERRY Sylvie<br/>
1, rue Mange<br/>
25690 Avoudrey<br/>
</p>
