<h2>Bike And Run : De quoi s'agit-il ??</h2>
<p>Littéralement traduit en Français, il s’agit d’une épreuve de vélo et course à pied. Cette épreuve sportive consiste, sur un parcours défini, par équipe de deux personnes, à partir avec un seul VTT, pour deux. Entre la ligne de départ et la ligne d’arrivée, les équipes mettent en place la stratégie de leur choix, à savoir, soit se relayer, soit une personne fait tout le parcours à pied et l’autre tout le parcours à vélo. Seuls impératifs, franchir la ligne d'arrivée ensemble et ne pas être deux sur le vélo !!
</p>
